@use './mixins/breakpoint' as breakpoint;

.introduce {
  color: rgb(62, 46, 73);
  img {
    width: 340px;
    margin-bottom: 16px;
  }

  .intro-block {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  blockquote {
    color: darkgray;
    background: #f9f9f9;
    border-left: 6px solid #ccc;
    margin: 2.5em 10px;
    padding: 1.5em 10px;
    quotes: '\201C''\201D''\2018''\2019';
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  @include breakpoint.medium-breakpoint {
    display: flex;
    justify-content: center;
    gap: 82px;
  }
}
