nav {
  //   background-color: rgba(21, 34, 43, 0.85);
  padding-top: 56px;
  opacity: 0;
  animation: nav-animation 20s ease-in-out;
  &.show-nav {
    opacity: 1;
    @keyframes nav-animation {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    text-align: center;
  }
  a {
    color: black;
  }
}
$line: #ae2a5e;

.line {
  @keyframes line-animation {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    20% {
      transform: scaleX(0.2);
    }

    40% {
      transform: scaleX(0.4);
      opacity: 0.2;
    }

    60% {
      transform: scaleX(0.6);
    }
    80% {
      transform: scaleX(0.8);
      opacity: 0.4;
    }

    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  position: relative;
  top: 18px;
  right: 0px;
  left: 0px;
  height: 1px;
  min-width: 300px;
  max-width: 1800px;
  z-index: -1;
  background: $line;
  transform: scaleX(0);
  opacity: 0;
  transform-origin: center;
  animation: line-animation 8s infinite;
}
