.works {
  .image-filter {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: center;
      margin-bottom: 24px;
      button {
        font-size: 1rem;
        font-style: italic;
        color: var(--color-nav);
      }
    }
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 12px;
    img {
      width: 200px;
      height: 200px;
    }
  }
}
